body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.link {
    text-align: center;
    margin-top: 10px;
}
